
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
</style>
<div style="text-align:center;">
    <img src="https://lh3.googleusercontent.com/x0uLMcBaeqUEpIgwW_7LYw9aYIKXa_5Y1ERaR8hWQyREllatdw0a9kv9qJyasHeBBgg=w512" width="400px" class="img-logo" alt="Alternate Text" />
</div>

