
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
</style>
<div style="text-align:center;">
    <img src="~/Assets/Customer/images/imagelayout/f4-logo.png" width="400px" class="img-logo" alt="Alternate Text" />
</div>

