@model phim2101.Models.Phim

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h3>Nếu xóa, phim sẽ không thể khôi phục! </h3>
<div>
    <h4>Bạn chắc chắn sẽ xóa phim  @Html.DisplayFor(model => model.TenPhim) chứ?</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa phim" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>